/* 게시판 전체 영역 div */

.mb-3 {
    margin-top: 40px;
}


/* 게시판 입력 영역 input */

.mb-3 input {
    width: 1300px;
    height: 100px;
    font-size: 40px;
}


/* 게시판 입력 영역 textarea */

.mb-3 textarea {
    height: 800px;
    font-size: 40px;
}


/* 게시판 안내 글 */

.mb-3 label {
    font-size: 40px;
}


/* 비밀 글 설정 영역 div */

.form-check {
    margin-left: 30px;
    margin-top: 40px;
}

.form-check-input {
    font-size: 30px;
}

.form-check label {
    font-size: 30px;
}


/* 버튼 영역 div */

.div_button {
    text-align: center;
    margin-top: 30px;
}

.div_button button {
    width: 200px;
    font-size: 30px;
}