body {
    margin: 0;
}


/* 텍스트 밑줄 없음 
   텍스트 색상 횐색*/

a {
    text-decoration: none;
    color: white;
}


/* 사용자 메뉴 */

.navbar_myinfor {
    display: flex;
    list-style: none;
    font-size: 25px;
    justify-content: flex-end;
    margin: 25px;
}

.logo_image {
    display: flex;
    justify-content: center;
}

.navbar_myinfor li {
    padding: 10px;
}

.item_infor {
    margin-left: 100px;
    display: flex;
}

.item_infor ul {
    margin-left: 100px;
    list-style: none;
}

#div_edit_delete {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#div_edit_delete button {
    margin: 10px;
}


/* 상품메뉴  */

.buy_menu {
    display: flex;
}

.buy_menu button {
    margin-top: 100px;
    width: 200px;
    margin-right: 20px;
    height: 60px;
}


/* 하단 메뉴 (상세정보, 구매평 등등) */

.bottom_menu {
    margin-top: 150px;
    list-style: none;
    display: flex;
    justify-content: center;
}

.bottom_menu li {
    margin-right: 100px;
}

.bottom_menu h1 {
    font-size: 30px;
}

.num {
    margin-top: 30px;
    margin-left: 15px;
}

.updown {
    color: #0075ff;
    font-size: 2em;
    letter-spacing: -3px;
}

.updown i {
    font-size: 40px;
}


/* 메뉴 고정 */


/* #footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 6rem;
} */