body {
    padding: 30px;
}


/* 페이지 이름 */

.div_pageName h1 {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

.main_Bulletin {
    padding: 20px;
    height: 15000px;
    background-color: linen;
}


/* 테이블 */

.caption-top {
    text-align: center;
    margin-top: 60px;
}


/* 테이블 헤드 */

.caption-top thead tr {
    font-size: 60px;
    text-align: center;
}


/* 테이블 컬럼 */

.caption-top tbody tr td {
    font-size: 50px;
    height: 80px;
}