/* 전체 페이지의 마진을 0 */

body {
    margin: 0;
}


/* 텍스트 밑줄 없음 
   텍스트 색상 횐색*/

a {
    text-decoration: none;
    color: white;
}


/* 제목 */

.title {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
}

.title h1 {
    font-size: 140px;
}


/* 사용자 메뉴 (상단 오른쪽)*/

.navbar_myinfor {
    margin-top: 30px;
    display: flex;
    list-style: none;
    justify-content: end;
    margin-right: 25px;
}

.navbar_myinfor li {
    padding: 20px;
}


/* 사용자 메뉴 글자크기 */

.navbar_myinfor li a h1 {
    font-size: 60px;
}


/* 검색메뉴 */

.navbar_search {
    text-align: center;
}


/* 상품 종류 메뉴 */

.navbar_menu {
    color: white;
    margin-top: 10px;
    width: 100%;
    background-color: darkseagreen;
    display: flex;
    justify-content: center;
    list-style: none;
}

.navbar_menu li {
    margin-top: 10px;
    padding: 30px;
    margin: 40px;
    font-size: 100px;
}

.navbar_menu li a {
    color: black;
}

.navbar_menu li:hover {
    background-color: #d49466;
    border-radius: 4px;
}

.iv_jordan {
    display: flex;
    justify-content: center;
}


/* 상품 카테고리 이름 (1.농구화 2.농구공 3.보호대) */

.item_category {
    background-color: #f4f4f4;
}

.item_category h1 {
    padding: 50px;
    margin-top: 100px;
    font-size: 150px;
    text-align: center;
}

main {
    text-align: center;
}


/*전체 상품 정보 (section)*/

.item_section {
    margin-top: 200px;
}

.item_section div {
    width: 1200px;
    display: inline-block;
}

.item_section div img {
    width: 1000px;
    height: 800px;
}

.item_section div {
    margin: 40px;
}

.item_section div h1 {
    margin: 15px;
    font-size: 60px;
    color: black;
}


/* 페이징 ui관련 코드 */


/* 테이블 하단 페이지 번호 영역 CSS 코드 */

.page_ul {
    list-style: none;
    display: flex;
}

.page_ul li .page-link {
    text-align: center;
    width: 100px;
    font-size: 50px;
    font-weight: bold;
}


/* 페이지 이동 옵션 
 - '처음', '마지막', '다음', '이전'

     /* 테이블 하단 페이지 번호 영역 CSS 코드 */

.page_ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.page_ul li .page-link {
    text-align: center;
    width: 150px;
    font-size: 50px;
    font-weight: bold;
}

#page_item {
    width: 300px;
}


/* 마이페이지 사이드메뉴 */

#mypage_sidemenu {
    list-style: none;
    width: 400px;
}

#mypage_sidemenu li a {
    font-size: 60px;
}


/* 상품 검색 페이지의 검색내용 h1텍스트 */

.text_mypage {
    width: 100%;
    font-size: 100px;
    color: #37a129;
    display: flex;
    justify-content: center;
    font-weight: bold;
}