/* 전체 폼 */

.div_main {
    padding: 20px;
    width: 1300px;
    text-align: center;
    margin: auto;
    background-color: cornsilk;
    margin-top: 200px;
}


/* 결제완료 텍스트 h1 */

.div_main h1 {
    margin-top: 20px;
}


/*결제 및 상품 정보 테이블 */

.table-bordered {
    margin-top: 50px;
}

.btn {
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    width: 250px;
    height: 90px;
}

.btn h1 {
    font-weight: bold;
    font-size: 30px;
}